body {
  background-color: lightgrey;
}

#button-div {
  margin: 10px;
}

.comic-Button {
  background-color: darkgrey;
  border-radius: 25px;
  font-size: 16px;
  display: inline-block;
}

#comic-form {
  float: right;
  width: 200px;
  margin-right: 10px;
  border-style: solid;
  font-size: 16px;
}

#comic-input {
  width: 180px;
}

#add-comic {
  background-color: darkgrey;
  border-radius: 25px;
  font-size: 12px;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
